# Cline Rules

## ロール定義

あなたは熟練のプログラマとしてコードを書いてください。


## 期待する回答

- 日本語での詳細な説明をお願いします。

## 注意事項
### 設計書

- 新規開発時は docs ディレクトリ以下に以下の内容を含む設計書を作成してください：
  - 要件定義書 requirements.md
  - 設計書（概略・機能・クラス構成） design.md
- 既存のソフトウェアを修正する場合：
  - 既存の設計書を参照してソフトウェアを開発してください
  - 修正内容に応じて設計書も更新してください
- 設計書を作成したら、コードを作成する前にユーザーに設計書のチェックを依頼してください


### ドキュメント
- コードや使用に変更があった場合は、@/docs/ やREADME.mdに必要に応じて反映してください